<h1><center> Welcome to the Alpha-Blog!</centre></h1>

<h3> This is a site created as part of me learning how to use Ruby On Rails <h3>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus ex pellentesque iaculis blandit. Aliquam et ornare tellus, in mollis nibh. Nulla ut 
nibh consectetur, consectetur nisl in, ultricies metus. Nunc interdum, tortor sed tempus bibendum, libero odio iaculis magna, ultrices malesuada sem nisl a sapien. Donec sit amet enim cursus, venenatis augue a, 
commodo quam. Mauris et mi commodo, feugiat mi ut, iaculis enim. Pellentesque ut lectus bibendum, vestibulum tortor suscipit, feugiat ligula. Duis pellentesque nisl convallis odio rutrum tincidunt. Aenean posuere auctor nulla et 
pellentesque.Vivamus nec tristique eros. Morbi lobortis tincidunt sapien sit amet mollis. Nunc aliquam tortor in purus sodales egestas. Ut a consequat magna, sed 
mollis neque. Aliquam dui nulla, feugiat in maximus sed, volutpat a mauris. Aenean libero ex, mollis id orci vel, placerat volutpat libero. Curabitur a risus ac metus gravida fringilla sed non ante. Vivamus odio orci, tempor quis sodales ut, porttitor 
ut libero. Nulla congue est quis velit maximus, ac commodo tellus consequat. Maecenas mollis arcu porta nibh pharetra scelerisque. Aliquam erat volutpat. Maecenas consectetur luctus elit, vitae dictum dui tincidunt quis.</p>
<center> <%= image_tag 'a-300.png' %> </center>