$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    float: left;
    font-size: 1.7em;
    color: fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;

}

#logo:hover{
    color: fff;
    text-decoration: none;
}

.center{
    text-align: center;
}

.jumbotron{
    background-image: url('wolf.jpg');
    background-size: cover;
    height: 500px;

}

.jumbotron h1{
    color: white;
    text-align: center;
    margin-bottom: -0px;
    letter-spacing: -1px;
    font-weight: bold;
    margin-top: 200px;

}

.btn-xlarge{
    font-size: 1.7em;
    background-color: black;
    
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777777;

}

footer a:hover{
    color: #222222;

}

footer small{
    float: left;
}

footer ul{
    float: right;
    list-style: none;
}

footer ul li{
    float: left;
    margin-left: 15px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;   
}

h3{
    font-family: Helvetica;
    text-align: center;
    
}